@model  IEnumerable<TodoMVC.Models.Task>

@{
    ViewBag.Title = "AllTasks";
}

<h2>AllTasks</h2>

<div>
    <h4>Task</h4>
    <hr />



    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Deadline</th>
                <th>Task Status</th>

            </tr>

        </thead>
        @foreach (var task in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskDeadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskStatus)
                    </td>


                </tr>
            </tbody>
        }
    </table>

    <div id="update">
        <input type="text" v-model="id" value="" placeholder="Put Task number to Update" />
        <button v-on:click="Complete">Complete</button>


    </div>

    <div id="delete">
        <hr />
        <input type="text" v-model="id" value="" placeholder="Put Task number to Delete" />
        <button v-on:click="Delete">Delete</button>
    </div>

    <div id="create">
        <hr />
        
        <button v-on:click="Create">Create</button>
    </div>


    <script src="~/Scripts/vue.min.js"></script>

    <script>


        var completeTask = new Vue({
            el: "#update",
            data: {
                id: ""

            },
            methods: {
                Complete() {
                    location.replace("/Home/Edit/" + this.id);
                }
                
            }

        });

        var createTask = new Vue({

            el: "#create",
            data: {
                

            },
            methods: {
                Create() {
                    location.replace("/Home/CreateTask");
                }
            }

        });


        var deleteTask = new Vue({
            el: "#delete",
            data: {
                id: ""

            },
            methods: {
                Delete() {
                    location.replace("/Home/Delete/" + this.id);
                }
            }

        });
    </script>




</div>
