@model IEnumerable<TodoMVC.Models.Task>

@{
    ViewBag.Title = "PendingTasks";
}

<h2>PendingTasks</h2>

<div>
    <h4>Task</h4>
    <hr />

    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Deadline</th>
                <th>Task Status</th>

            </tr>

        </thead>
        @foreach (var task in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskDeadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskStatus)
                    </td>


                </tr>
            </tbody>
        }
    </table>

    <div id="update">
        <input type="text" v-model="id" value="" />
        <button v-on:click="Complete">Complete</button>


    </div>

    <script src="~/Scripts/vue.min.js"></script>

    <script>


        var complete = new Vue({
            el: "#update",
            data: {
                id: ""
               

            },
            methods: {
                Complete() {
                    location.replace("/Home/EditPending/" + this.id);
                }
            }

        });
    </script>

</div>

